# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
_site
.sass-cache
.jekyll-metadata

# Bundler / Ruby
.bundle/
vendor/
vendor/bundle/

# Jekyll build output
_site/
.jekyll-cache/
.jekyll-metadata

# OS files
.DS_Store
